*~
\#*
.#*
*/#*
*/.#*
*/*~
.*.swp
*/.*.swp
*/*.o
*.orig
*/*.orig
*/*/*.orig
*.rej
*/*.rej
*/*/*.rej
*/Makefile
*/Makefile.in
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.log
config.status
configure
phasex.spec
phasex-*.tar.gz
phasex-*.rpm
stamp-h1
misc/phasex.desktop
src/.deps/
src/phasex
